html {
	scroll-behavior: smooth;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 100;
	font-family: 'Amatic SC', cursive;
}

body {
    font-size: 15px;
    line-height: 1;
}

a {
	text-decoration: none;
	color: #fff;
}

ul {
    list-style: none;
}

h1 {
    font-size: 80px;
    font-family: 'Amatic SC', cursive;
}

/* Nav */
.collapse{
	margin-right: 5px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}
nav{
	background: #333;
	position: fixed;
	font-family: 'Amatic SC', cursive;
}

.nav-item {
	margin: 10px;
	margin-left: 15px;
	text-align: center;
}

.nav-item .nav-link {
	font-size: 25px;

	display: inline;
}

.nav-item .nav-link:hover{
    border-bottom: 2px solid lightblue;
}

.container {
    max-width: 100vw;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    font-weight:100;
	margin: 0;
	padding: 0;
}

.second-container {
	height: 140vh;
	background: url('./../images/skills.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.third-container {
	height: 140vh;
	background: url('./../images/content.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* title content */
.title-content{
    height: 100vh;
    width: 100%;
	background: url('./../images/top.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
}

.title-content .title {
    width: 90%;
    padding: 5% 0 0 25%;
    color: #fff;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
}

/* card content */
.mid-content {
	width: 80%;
	left: 10%;
	top: 60%;
	position: absolute;
	background: url('./../images/content.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	clip-path: polygon(50% 0, 100% 10%, 100% 90%, 50% 100%, 0 90%, 0 10%);
	box-shadow: 0 20px 50px rgba(255,255,255,0.8);
	z-index: 5;
}

.mid-content .card-content > h1  {
	color: white; 
	text-align: center; 
	position: relative; 
	top: 120px;
}

.card-content {
	background-image:
	linear-gradient(to bottom, rgba(245, 246, 252, 0.4), rgba(0, 0, 0));
	clip-path: polygon(50% 100%, 100% 80%, 100% 0, 0 0, 0 80%);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.card-content .card-inner {
	position: relative;
    display: flex;
    justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 20%;
	padding-bottom: 25%;
}

.card-inner .card {
	position: relative;
	background-color: rgba(0,0,0,0);
	margin-bottom: 25px;
}

.card-inner .card .face
{
	width: 280px;
	height: 200px;
	transition: 0.5s;
}
.card-inner .card .face img {
    height: 120px;
    width: 200px;
}

.card-inner .card .face.face1
{
	position: relative;
	background: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	transform: translateY(100px);
	box-shadow: 0 20px 50px rgba(255,255,255,0.8);
}
.card-inner .card:hover .face.face1
{
	background-color: lightblue;
	transform: translateY(0);
}
.card-inner .card .face.face1 .secondContent
{
	opacity: 0.2;
	transition: 0.5s;
}

.card-inner .card:hover .face.face1 .secondContent
{
	opacity: 1;
}
.card-inner .card .face.face1 .secondContent h3
{
	text-align: center;
	font-size: 30px;
}

.card-inner .card .face.face2
{
	position: relative;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0 20px 50px rgba(0,0,0,0.8);
	transform: translateY(-100px);
}
.card-inner .card:hover .face.face2
{
	transform: translateY(0);
}
.card-inner .card .face.face2 p
{
	font-size: 23px;
	margin: 0;
	padding: 0;
}

.card-inner .card .face.face2 .secondContent a
{
	margin: 20px 0 0;
	display:  inline-block;
	font-size: 20px;

	text-decoration: 900;
	color: #333;
	padding: 5px;
	border: 1px solid #333;
}

.card-inner .card .face.face2 .secondContent a:hover
{
	background: #333;
	color: #fff;
}

/* skills content */
.skills-content{
    height: 110vh;
    width: 100%;
	background: url('./../images/bg2.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.skills-content h1 {
	font-size: 80px;
	color: white; 
	padding-top: 5%; 
	padding-left: 5%;
}

.skills-content .skills
{
	margin: 5% auto 0 auto;
	width: 40%;
}

.skill-content .skills div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.skills-content span
{
	font-size: 100px;
	color: white;
	padding-left: 2%;
}
/* end */
/* about content */
.about-content{
	height: 100vh;
	width: 100%;
	height: 100vh;
	background: url('./../images/top.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
}

.about-content .about-inner {
	margin: auto;
	position: relative;
	text-align: center;
	line-height: 1.3;
	width: 50%;
}

.about-content .about-inner h1 {
	padding-top:5%; 
	padding-bottom: 10%; 
	font-size: 80px; 
	color: white;
}

.about-content .about-inner p {
	color: white; 
	font-size: 35px;
	text-align: center;
}
/* end */

/* footer */
footer
{
	height: 100px;
	width: 100%;
	background: #000;
	color: white;
	text-align: center;
}

footer .contact{
	position: relative;
	top: -50%;
	font-size: 35px;
}

footer .span{
	font-size: 40px;
	margin-top: -15px;
}

footer .span span{
	padding-right: 50px;
	padding-left: 50px;
}
/* end */

@media only screen and (min-width: 360px)
{
	.second-container {
		height: 200vh;
	}
	
	.third-container {
		height: 207vh;
	}
	
	.title-content .title {
		width: 100%;
		padding: 5% 0 0 25%;
		margin-left: -5%;
	}

	.title > h1 {
		color: #fff;
		font-family: 'Amatic SC', cursive;
		font-size: 50px;
	}

	.mid-content {
		clip-path: polygon(50% 0%, 100% 5%, 100% 95%, 50% 100%, 0 95%, 0 5%); 
	}
	
	.mid-content .card-content > h1 {
		font-size: 50px;
		top: 100px;
	}
	
	.card-content {
		clip-path: polygon(50% 100%, 100% 95%, 100% 0, 0 0, 0 95%);
	}

	.card-content .card-inner {
		margin-top: 50%;
		padding-bottom: 45%;
	}

	.card-inner .card .face
	{
		width: 240px;
		height: 200px;
		transition: 0.5s;
	}

	.skills-content{
		height: 70vh;
		width: 100%;
	}
	
	.skills-content h1 {
		font-size: 50px;
		padding-top: 10%; 

	}
	
	.skills-content .skills
	{
		margin: 15% 0 0 15%;
		width: 80%;
	}
	
	
	.skills-content span
	{
		font-size: 50px;
		color: white;
		padding-left: 2%;
	}

	.about-content{
		height: 100vh;
		width: 100%;
		height: 100vh;
	}
	
	.about-content .about-inner {
		width: 80%;
	}
	
	.about-content .about-inner h1 {
		padding-top:10%; 
		font-size: 50px; 
		color: white;
	}
	
	.about-content .about-inner p {
		color: white; 
		font-size: 26px;
		text-align: center;
	}
	
	footer .span{
		font-size: 25px;
	}
}

@media only screen and (min-width: 768px)
{

	.second-container {
		height: 100vh;
	}
	
	.third-container {
		height: 100vh;
	}
	
	.title-content{
		height: 80vh;
	}

	.title-content .title {
		width: 100%;
		padding: 15% 0 0 0;
		margin-left: 7%;
	}

	.title > h1 {
		font-size: 80px;
	}

	.title > h2 {
		font-size: 50px;
	}

	.mid-content .card-content > h1 {
		font-size: 80px;
	}
	.card-content .card-inner {
		margin-top: 25%;
		padding-bottom: 45%;
	}

	.card-content .card-inner {
		padding-bottom: 10%;
	}

	.skills-content{
		height: 70vh;
		width: 100%;
	}
	
	.skills-content h1 {
		font-size: 80px;
		padding-top: 10%; 
	}
	
	.skills-content .skills
	{
		margin: 15% 0 0 15%;
		width: 80%;
	}
	
	.skills-content span
	{
		font-size: 100px;
		color: white;
		padding-left: 2%;
	}

	.about-content{
		width: 100%;
		height: 80vh;
	}
	
	.about-content .about-inner {
		width: 80%;
	}
	
	.about-content .about-inner h1 {
		padding-top:10%; 
		font-size: 80px; 
		color: white;
	}
	
	.about-content .about-inner p {
		color: white; 
		font-size: 40px;
		text-align: center;
	}

}

@media only screen and (min-width: 1000px)
{

/* Nav */
.collapse{
	margin-right: 5px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}
nav{
	background: #333;
	position: fixed;
	font-family: 'Amatic SC', cursive;
}

.nav-item {
	margin: 10px;
	margin-left: 15px;
	text-align: center;
}

.nav-item .nav-link {
	font-size: 25px;

	display: inline;
}

.nav-item .nav-link:hover{
    border-bottom: 2px solid lightblue;
}

.container {
    max-width: 100vw;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    font-weight:100;
	margin: 0;
	padding: 0;
}

.second-container {
	height: 150vh;
	background: url('./../images/skills.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.third-container {
	height: 150vh;
	background: url('./../images/content.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* title content */
.title-content{
    height: 100vh;
    width: 100%;
	background: url('./../images/top.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
}

.title-content .title {
    width: 90%;
    padding: 3% 0 0 20%;
    color: #fff;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
}

/* card content */
.mid-content {
	width: 80%;
	left: 10%;
	top: 70%;
	position: absolute;
	background: url('./../images/content.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	clip-path: polygon(50% 0, 100% 10%, 100% 90%, 50% 100%, 0 90%, 0 10%);
	box-shadow: 0 20px 50px rgba(255,255,255,0.8);
	z-index: 5;
}

.mid-content .card-content > h1  {
	color: white; 
	text-align: center; 
	position: relative; 
	top: 115px;
}

.card-content {
	background-image:
	linear-gradient(to bottom, rgba(245, 246, 252, 0.4), rgba(0, 0, 0));
	clip-path: polygon(50% 100%, 100% 80%, 100% 0, 0 0, 0 80%);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.card-content .card-inner {
	position: relative;
    display: flex;
    justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding-left: 15%;
	padding-right: 15%;
	margin-top: 18%;
	padding-bottom: 25%;
}

.card-inner .card {
	position: relative;
	background-color: rgba(0,0,0,0);
	margin-bottom: 25px;
	margin-left: 5%;
}

.card-inner .card .face
{
	width: 300px;
	height: 200px;
	transition: 0.5s;
}
.card-inner .card .face img {
    height: 120px;
    width: 200px;
}

.card-inner .card .face.face1
{
	position: relative;
	background: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	transform: translateY(100px);
	box-shadow: 0 20px 50px rgba(255,255,255,0.8);
}
.card-inner .card:hover .face.face1
{
	background-color: lightblue;
	transform: translateY(0);
}
.card-inner .card .face.face1 .secondContent
{
	opacity: 0.2;
	transition: 0.5s;
}

.card-inner .card:hover .face.face1 .secondContent
{
	opacity: 1;
}
.card-inner .card .face.face1 .secondContent h3
{
	text-align: center;
	font-size: 30px;
}

.card-inner .card .face.face2
{
	position: relative;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0 20px 50px rgba(0,0,0,0.8);
	transform: translateY(-100px);
}
.card-inner .card:hover .face.face2
{
	transform: translateY(0);
}
.card-inner .card .face.face2 p
{
	font-size: 23px;
	margin: 0;
	padding: 0;
}

.card-inner .card .face.face2 .secondContent a
{
	margin: 20px 0 0;
	display:  inline-block;
	font-size: 20px;

	text-decoration: 900;
	color: #333;
	padding: 5px;
	border: 1px solid #333;
}

.card-inner .card .face.face2 .secondContent a:hover
{
	background: #333;
	color: #fff;
}

/* skills content */
.skills-content{
    height: 110vh;
    width: 100%;
	background: url('./../images/bg2.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.skills-content h1 {
	font-size: 80px;
	color: white; 
	padding-top: 5%; 
	padding-left: 5%;
}

.skills-content .skills
{
	margin: 5% auto 0 auto;
	width: 40%;
}

.skill-content .skills div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.skills-content span
{
	font-size: 100px;
	color: white;
	padding-left: 2%;
}
/* end */
/* about content */
.about-content{
	height: 100vh;
	width: 100%;
	height: 100vh;
	background: url('./../images/top.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
}

.about-content .about-inner {
	margin: auto;
	position: relative;
	text-align: center;
	line-height: 1.3;
	width: 50%;
}

.about-content .about-inner h1 {
	padding-top:5%; 
	padding-bottom: 10%; 
	font-size: 80px; 
	color: white;
}

.about-content .about-inner p {
	color: white; 
	font-size: 35px;
	text-align: center;
}
/* end */

/* footer */
footer
{
	height: 100px;
	width: 100%;
	background: #000;
	color: white;
	text-align: center;
}

footer .contact{
	position: relative;
	top: -50%;
	font-size: 35px;
}

footer .span{
	font-size: 40px;
	margin-top: -15px;
}

footer .span span{
	padding-right: 50px;
	padding-left: 50px;
}
/* end */

}
